---
---
{% include header.html %}

<h2>Screenshots</h2>
Here's a couple of screenshots from a test deployment.

<p style="text-align: center; font-size: 1.0em; font-weight: bold;">A listing of schemas</p>
<a href="screenshots/schema-list.png"><img src="screenshots/schema-list.png" width="780px"></a>
<p style="font-size: 0.8em;">Schemas are roughly equal to a VRF in a router. Prefixes are unique inside each schema, so schemas typically represent a VRF but can also be used just to group addresses for whatever reason.</p>
<br/><br/>

<p style="text-align: center; font-size: 1.0em; font-weight: bold;">Creating a new address pool.</p>
<a href="screenshots/new-pool.png"><img src="screenshots/new-pool.png" width="780px"></a>
<p style="font-size: 0.8em;">Address pools (or prefix pools rather) can be used to group a number of prefixes together from which you can later assign new prefixes. The size of the new prefix as well as the 'type' (a NIPAP internal attribute) can be inherited from the address pool. Do note how a pool handles both IPv4 and IPv6 seamlessly.</p>
<br/><br/>

<p style="text-align: center; font-size: 1.0em; font-weight: bold;"> Creating a new prefix from an address pool</p>
<a href="screenshots/new-prefix-from-pool.png"><img src="screenshots/new-prefix-from-pool.png" width="780px"></a>
<p style="font-size: 0.8em;">For speedy assignment of new addresses, the user can request one from a pre-defined pool. This allows the end-user to be oblivious of which prefix he should pick his new assignment from, instead he can choose a pool and just get a prefix automatically assigned. An IP registry adminitrator can make sure that the pools don't run out of addresses.</p>
<br/><br/>

<p style="text-align: center; font-size: 1.0em; font-weight: bold;">Prefix search</p>
<a href="screenshots/search.png"><img src="screenshots/search.png" width="780px"></a>
<p style="font-size: 0.8em;">A typical search. Matching prefixes are in black, grey prefixes are included for context. Notice the indentation for further helping the user understand the prefix structure.</p>
<br/><br/>

<p style="text-align: center; font-size: 0.7em;">Copyright Kristian Larsson, Lukas Garberg 2011-2012.</p>
{% include footer.html %}
