<html>
	<head>
		<title>NIPAP - the Neat IP Address Planner</title>
		<link rel="stylesheet" href="site.css">
	</head>
	<body style="background-color: #dddddd;">
		<div style="margin: 0; padding: 0; text-align: center; position: absolute; width: 100%; z-index: 0;">
			<div class="container">
				<div class="header">
					<div class="logo">
						NIPAP
					</div>
					<div class="menu">
						<nav>
							<ul id="navbar">
								<li><a href="index.html">Overview</a></li>
								<li><a href="getting-started.html">Getting Started</a></li>
								<li><a href="documentation.html">Docs</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="main">
